
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Font awesome

@import "node_modules/font-awesome/scss/font-awesome.scss";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Partials
@import '_artists';

.fas {
    font: normal normal normal #{$fa-font-size-base}/#{$fa-line-height-base} FontAwesome;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}